/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
.cpcache/*

node_modules/
.shadow-cljs/
.clj-kondo/
.cpcache/
resources/public/js/
storage/pg/data/

__pycache__/
*.py[cod]

*.spec
build/
dist/