{:source-paths ["src/cljs" "lib/cljs"]
 ;; :nrepl {:port 9000}
 :dependencies [[lambdaisland/fetch "1.0.41"]
                [lilactown/helix "0.1.5"]]
 :builds {:urban {:target :browser
                  :compiler-options {:output-feature-set :es6}
                  :output-dir "resources/public/js"
                  :asset-path "/js"
                  :modules {:main {:init-fn urban.core/init}}
                  :devtools {:http-root "resources/public"
                             :http-port 4201}}}}
