{:id 123,
 :symbol "Museum"
 :options
 [{:text "add sponsor/investment round"}
  {:text "add submap"}
  {:text "add details"}]
 :morphs [{:symbol "Grass"}
          {:symbol "Park"}
          {:symbol "Cafe"}]}