section {
  display: inline-block;
}
.tile {
  background:#aaa;
  display: inline-block;
  width: 32px;
  height: 32px;

  margin: 0;
}
/**
 * @todo   sprites
 */
.Grass {
  background: green;
}
.Museum {
  background: #888;
}

.tile:hover {
  border-bottom: 1px dashed #fff;
}
